@import './variables.css'; 

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    background-color: var(--color-white);
    color: var(--color-dark-brown);
}

.appContainer {
    display: flex;
}

.mainContentContainer {
    margin-left: 73px;
    flex: 1;
    padding: 0;
}
