@import './variables.css'; 

li {
    list-style: none;
}

h3 {
    margin: 0;
}

.bookItem {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f5e1c8; /* Light beige color for the book card */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px; /* Adds space between books */
    transition: transform 0.2s ease-in-out;
    border-bottom: 2px solid #b5835a; /* Thin line below each book item */
}

/* Adds a small hover effect */
.bookItem:hover {
    transform: scale(1.02);
}

.bookInfoContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
}

.bookImage {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.bookTitle {
    font-size: 18px;
    font-weight: bold;
    color: #5e2d20; /* Dark brown for contrast */
    margin-bottom: 5px;
}

.bookAuthor {
    font-size: 14px;
    color: #8b5e3b; /* Slightly lighter brown */
    margin-bottom: 5px;
}

.bookRating {
    font-size: 14px;
    color: #ffd700; /* Gold for a rating effect */
}

.bookDescription {
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits description to 3 lines */
    -webkit-box-orient: vertical;
}
