@import './variables.css'; 

.navContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 72px;
    height: 100%;

    border: 1px solid rgba(163, 104, 91, 0.5); /* 50% opacity */
    box-shadow: 2px 2px 5px rgba(163, 104, 91, 0.1);
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navItem {
    margin: 15px 0;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.navItem:hover {
    background-color: var(--color-soft-orange); /* Warm glow */
    border-color: var(--color-earthy-brown); /* Vintage contrast */
    box-shadow: 0px 0px 12px var(--color-pale-yellow);
    transform: scale(1.05); /* Slight scale effect to enhance the "flicker" */
}

.navImage {
    width: 20px;
}