@import './variables.css'; 

.searchContainer{
    display: flex;
    flex-direction: column;
}

.searchBarContainer{
    display: flex;
    justify-content: center;
}

.searchTitle{
    display: flex;
    justify-content: center;
}