.searchContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    width: 500px;
    border-radius: 10px;
    gap: 10px;
    background-color: var(--white-color);
    padding: 6px 10px;
    box-shadow: 0 4px 12px rgba(60, 47, 35, 0.1);
    border: 1px solid rgba(169, 132, 103, 0.15); /* transparent earthy-brown */
    transition: box-shadow 0.3s ease;
}


.searchInput {
    flex: 1;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--color-earthy-brown);
    background-color: var(--white-color);
    color: var(--color-dark-brown);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.2s ease;
}

.searchInput:focus {
    border-color: var(--color-dark-green);
    box-shadow: 0 0 6px rgba(108, 88, 76, 0.2);
}

.submitButton {
    background-color: var(--color-earthy-brown);
    color: var(--white-color);
    border: 1px solid var(--color-dark-green);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submitButton:hover {
    background-color: var(--color-deep-red);
    border-color: var(--color-earthy-brown);
    box-shadow: 0 0 6px rgba(82, 121, 111, 0.3);
}

.submitImage {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.searchSelect {
    appearance: none;
    background-color: var(--white-color);
    color: var(--color-dark-brown);
    border: 1px solid var(--color-earthy-brown);
    font-weight: var(--font-weight-semibold);
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%233E2C23'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
}

.searchSelect:focus {
    outline: none;
    border-color: var(--color-dark-green);
    box-shadow: 0 0 6px rgba(108, 88, 76, 0.2);
    background-color: var(--color-light-green);
}

.searchSelect:hover {
    background-color: var(--color-light-green);
    border-color: var(--color-dark-green);
}

.searchSelect option {
    background-color: var(--white-color);
    color: var(--color-dark-brown);
}
